<h1>Welcome</h1>
<p>Welcome to story books 1.0.0</p>
<p>Post stories from the best and worst part of your life and choose whether to make them read by the
  world or make them private as your own personal diary</p>
  {{# if user}}

  {{else}}
    <a class="red darken-1 btn" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
  {{/if}}
